<section class="SectionPage mt-5 bg-secondary d-flex justify-content-between">
        <section class="SectionPage__copyright-container position-relative w-100">
                <p class="SectionPage__copyright-text position-absolute top-50 start-50 translate-middle w-100 h-25 text-info ">Creada y diseñada
                        por gabriel.
                        ©2022</p>
        </section>
        <div class="SectionPage__redesBox d-flex align-items-center mx-3">
                <a href="https://github.com/GabrielOsOj" target="_blank" class="SectionPage__redesBox--red"><i
                                class="bi bi-github text-info"></i></a>

                <a href="https://www.linkedin.com/in/gabriel-osvaldo-ojeda-496449252/"
                        class="SectionPage__redesBox--red" target="_blank"><i class="bi bi-linkedin text-info"></i></a>


                <a href="https://www.facebook.com/profile.php?id=100049246574496" class="SectionPage__redesBox--red"
                        target="_blank"><i class="bi bi-facebook text-info"></i></a>


        </div>



</section>