.SectionPage{
    width: 100%;
    height: 80px;
    background-color: #fff;
}

.SectionPage--copyrigth{
    line-height: 80px;
    font-size: 10px;

}

.SectionPage__redesBox{
    height: 100%;
    list-style: none;
}

.SectionPage__redesBox--red{
    height: 50px;
    width: 50px;
 
    line-height: 50px;
    text-align: center;
    transition: all .5s;

}

.SectionPage__redesBox--red:hover{
    transform: scale(1.5);
}


i{
    font-size: 30px;
}