<header id="header" [ngClass]="{'fixed-top d-flex align-items-center bg-secondary' : true,'bg-transparent':pos}">

    <div class="container d-flex align-items-center">
        <div class="logo me-auto">
            <a href="index.html"><img src="../../../../assets/argentiaProgramaLogo.png" class="img img-fluid"></a>
        </div>
        <nav id="navbar" *ngIf="estado" class="navbar order-last order-lg-0 ">
            <ul>
                <li><a class="nav-link scrollto text-white" (click)="goTo('#inicio')">Inicio</a></li>
                <li><a class="nav-link scrollto text-white" (click)="goTo('#proyectos')">Proyectos</a></li>
                <li><a class="nav-link scrollto text-white" (click)="goTo('#estudios')">Estudios</a></li>
                <li><a class="nav-link scrollto text-white" (click)="goTo('#experiencia')">Experiencia</a></li>
                <li><a class="nav-link scrollto text-white" (click)="goTo('#contacto')">Contacto</a></li>
            </ul> <i class="bi bi-list mobile-nav-toggle" (click)="switch()"></i>
        </nav>

        <nav id="navbar" *ngIf="!estado" class="navbar order-last order-lg-0 navbar-mobile">
            <ul>
                <li><a class="nav-link scrollto" href="#hero" (click)="switch();goTo('')">Inicio</a></li>
                <li><a class="nav-link scrollto" href="#portfolio" (click)="switch()">Proyectos</a></li>
                <li><a class="nav-link scrollto" href="#pricing" (click)="switch()">Estudios</a></li>
                <li><a class="nav-link scrollto" href="#contact" (click)="switch()">Experiencia</a></li>
                <li><a class="nav-link scrollto" href="#contact" (click)="switch()">Contacto</a></li>

            </ul> <i class="bi bi-list mobile-nav-toggle bi-x" (click)="switch()"></i>
        </nav>

        <div class="header-social-links d-flex align-items-center"> <a href="#" class="twitter"><i
                    class="bi bi-twitter"></i></a> <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> <a
                href="#" class="instagram"><i class="bi bi-instagram"></i></a> <a href="#" class="linkedin"><i
                    class="bi bi-linkedin"></i></a></div>

    </div>
</header>