.pag1 {
    height: 40rem;

    background-image: url("../../../../assets/ImgsRespaldo/argProgBanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.ImgContainer {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 990px) {

    .pag1 {
        height: 100vh;
        width: 100%;
        background-size: cover;
    }

    .container {
        flex-direction: column;
        height: 50rem;
    }

    .ImgContainer {
        height: 150px;
        width: 150px;
    }

    .textContainer {

        width: 100% !important;
    }
}


.filter {
    backdrop-filter: blur(5px);
}


.closeMod {
    font-size: 50px;
    filter: brightness(.5);
    z-index: 800;
}

.imgBtn:hover,
.closeMod:hover {
    cursor: pointer;
    filter: brightness(1);
}

.btnImg {
    z-index: 500;
    opacity: 0;
    display: grid;
    place-content: center;
}

.btnImg:hover {
    opacity: 1;
    background: var(--colorN4);
    cursor: pointer;
}

.iUpload {
    cursor: pointer;

}

.fileBtn {
    cursor: pointer;

    opacity: 0;
}


/* mobile */

@media(max-width: 990px) {
    
    .editBox,
    .titleInput,
    .imgTitCont {
        width: 100% !important;
        height: 100% !important;
    }

    .editBox{
        overflow: auto;
    }

    .imgInput {
        margin: 0 auto !important;
    }
    
    .imgTitCont {
        flex-direction: column;
        width: 75% !important;
        justify-content: space-evenly !important;
    }
}
