<div class="pag1">
    <div class="test container d-flex justify-content-center align-items-center">

        <div>
            <img src="../../../../assets/userPhotoStock.png">
        </div>

        <div class="d-flex flex-column align-items-center justify-content-center text-white d">
          <h2 class="p">Full Stack Developer</h2>
          <p class="p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla repudiandae, delectus voluptate quisquam similique corporis, culpa voluptates reprehenderit at laboriosam eius dicta perferendis animi exercitationem unde facilis molestiae. A excepturi cupiditate fuga? Debitis facilis necessitatibus facere minus velit suscipit eaque quod incidunt asperiores ex? Ipsum vitae eos ad eligendi? Et?</p>
        </div>


    </div>
    

</div>