.bg-template{
    background-color: rgba(50, 130, 184, .1);
    z-index: 900;
}

.iconMod {
    font-size: 25px;
    margin-right: 5px;
}

.iconMod:hover {
    cursor: pointer;
    filter: brightness(.5)
}

.oculto{
    visibility: hidden;
}

/* movil */

@media (max-width:990px){
    .newSkillBox{
        width: 100% !important;
        height: 75% !important;
    }
}
