<section [ngClass]="{'box d-flex bg-secondary align-items-center justify-content-evenly':true, 'flex-row-reverse':derecho}">
    <div class="imgContainer border border-5 border-primary">
        <img [src]="exp.url" class="imgC" alt="">
    </div>

    <div class="TyPcontainer d-flex flex-column align-items-evenly">

        <!-- maximo 120 caracteres, ponele ese limite de alguna forma -->
        <p class="titulo text-info text-wrap fs-2">{{exp.titulo}}
        </p>


        <!-- maximo 700 caracteres, fijate de ponerle ese limite, sino queda feo -->
        <p class="info text-info text-wrap fs-6">{{exp.descripcion}}</p>


    </div>

</section>