.Modal-box {
    position: fixed;
    width: 500px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;

    animation-name: show;
    animation-duration: .5s;
    animation-iteration-count: 1;

    z-index: 900;
    overflow: hidden auto;
}

.Modal::after {
    content: "";
    position: fixed;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 130, 184, .1);

    z-index: 600;
}

.modal-box_content {

    display: none;
}

.btn {
    font-size: 40px;
    font-weight: 20px;
    position: absolute;
    top: -15px;
    right: -10px;
    border: none;
}

@keyframes show {
    0% {
        height: 0;
        width: 500px;
    }

    100% {
        height: 500px;
    }
}

@keyframes hidden {
    0% {
        height: 500px;
        width: 500px;
    }

    100% {
        overflow: hidden;
        height: 0;
        display: none;
    }
}

h2::first-letter {
    text-transform: uppercase;
}

/* carrusel --> */

.carrusel-container {
    height: 250px;
    width: 100%;

    position: relative;
    overflow: hidden;

}

.img {
    width: 100%;
    height: 100%;

    position: absolute;
    border-radius: 20px;
    object-fit: cover;
}

.carrusel-container__wheel {
    height: 100%;
    width: 100%;

    position: relative;

}

.carrusel-container__wheel-item {
    min-width: 100%;
    height: 100%;

    position: relative;

    border-radius: 20px;
}

.carrusel-container__wheel-item-btns {
    width: 100%;
    height: 100%;
    position: absolute;


    z-index: 500;
}

.icon {
    height: 100%;
    font-size: 40px;
    width: 60px;

    margin: auto 0;

    line-height: 250px;
    text-align: center;


    background-color: rgba(50, 130, 184, .1);

    cursor: pointer;
}

.icon:hover {
    background-color: rgba(50, 130, 184, .5);
}

p::first-letter {
    text-transform: uppercase;
}

.modal-box_content-tecno-icon {
    border-radius: 20px;
    border: 1px solid #000;
    padding: 4px;
    background-color: var(--colorN4);
}