<section class="Modal">
    <div class="Modal-box" #modal>
        <section class="btn" (click)="closeText()"><i class="bi bi-x"></i></section>
        <div class="modal-box_content mt-3" #modalContent>

            <h2 class="text-center">{{Minfo.titulo}}</h2>

            <section class="carrusel-container mt-4" *ngIf="fotos.length>0">

                <section class="carrusel-container__wheel d-flex" #FirstImg>


                    <!-- item del carrusel -->
                    <div class="carrusel-container__wheel-item" *ngFor="let foto of fotos">

                        <img [src]="foto" alt="" class="img">

                        <section class="carrusel-container__wheel-item-btns d-flex justify-content-between"
                            *ngIf="fotos.length>1">

                            <i class="icon icon-left bi bi-chevron-compact-left " (click)="before()"></i>

                            <i class="icon icon-right bi bi-chevron-compact-right " (click)="next()"></i>

                        </section>

                    </div>


                </section>


            </section>


            <div class="modal-box_content-tecnos d-flex flex-column mt-2">
                <h6 class="font-weight-bold">Tecnologias:</h6>

                <div class="d-flex flex-wrap">

                    <section class="modal-box_content-tecno-icon mx-2" *ngFor="let tecno of tecnos">
                        <span><i [style.color]="'#'+tecno[1]" class="bi bi-circle-fill" ></i> {{tecno[0]}} </span>
                    </section>

                  
                </div>
            </div>

            <p class="mt-3">{{Minfo.descripcion}}</p>
        </div>
    </div>


</section>