<ng-container *ngIf="!isLogged && BackRes && resProyectos.length!=0">
    <div class="division mt-3" id="#proyectos"></div>

    <section class="ProyectosPg d-flex mt-3 flex-column">
        <p class="Proyectos-pag__titulo text-info">Proyectos</p>

        <div class="contTarj">
            <section class="tarjeta bg-transparent p-0" *ngFor="let proyecto of resProyectos">
                <app-proyecto-tmp [info]="proyecto"></app-proyecto-tmp>
            </section>
        </div>

    </section>

</ng-container>


<ng-container *ngIf="isLogged">
    <div class="division mt-3" id="#proyectos"></div>

    <section class="ProyectosPg d-flex mt-3 flex-column">
        <p class="Proyectos-pag__titulo text-info">Proyectos</p>

        <div class="Proyectos-pag__container d-flex justify-content-evenly flex-wrap">

            <ng-container *ngIf="BackRes">
                <section class="position-relative m-2" *ngFor="let proyecto of resProyectos">
                    <app-proyecto-tmp [info]="proyecto"></app-proyecto-tmp>
                    <app-upd-del-btn class="position-absolute top-0 end-0" [proyectoEdit]="proyecto" [seccion]="2">
                    </app-upd-del-btn>
                </section>
            </ng-container>

            <section class="nwBtn d-flex justify-content-center align-items-center">
                <app-create-btn [crear]="2"></app-create-btn>
            </section>
        </div>

    </section>


</ng-container>