<ng-container *ngIf="!isLogged && BackRes">
    <div class="division mt-3" id="#proyectos"></div>

    <section class="ProyectosPg d-flex mt-3 flex-column">
        <p class="Proyectos-pag__titulo text-info">Proyectos</p>

        <div  class=" Proyectos-pag__container d-flex justify-content-evenly
            flex-wrap">
            <app-proyecto-tmp *ngFor="let proyecto of resProyectos" [info]="proyecto"></app-proyecto-tmp>

        </div>

    </section>

</ng-container>


<ng-container *ngIf="isLogged && BackRes">
    <div class="division mt-3" id="#proyectos"></div>

    <section class="ProyectosPg d-flex mt-3 flex-column">
        <p class="Proyectos-pag__titulo text-info">Proyectos</p>

        <div class="Proyectos-pag__container d-flex justify-content-evenly flex-wrap">

            <section class="position-relative" *ngFor="let proyecto of resProyectos">
                <app-proyecto-tmp [info]="proyecto"></app-proyecto-tmp>
                <app-upd-del-btn class="position-absolute top-0 start-100 translate-middle" [proyectoEdit]="proyecto"
                    [seccion]="2">
                </app-upd-del-btn>
            </section>


            <section class="nwBtn d-flex justify-content-center align-items-center">
                <app-create-btn [crear]="2"></app-create-btn>
            </section>
        </div>

    </section>


</ng-container>