<ng-container>
    <section class="proyectBox d-flex flex-column align-items-center bg-secondary">
        <section class="proyectBox__titulo my-2 text-info">
            <h5>{{info.titulo}}</h5>
        </section>
        <section class="proyectBox__img">
            <section class="slider-container">

                <div class="imgFalsa bg-danger" #primeraImg>

                </div>

                <div class="imgFalsa" *ngFor="let img of info.idImg, index as i">
                    <img src="{{urlImgs}}/imagen/{{img}}" alt="" class="imgBox">
                </div>

                <section class="imgBoxControllers d-flex justify-content-between" *ngIf="info.idImg.length>1">
                    <div (click)="izq()" class="imgBoxControllers-left text-center d-flex align-items-center"><i
                            class="text-center text-info fs-1 bi bi-chevron-left"></i></div>

                    <div (click)="der()"
                        class="imgBoxControllers-right text-center d-flex align-items-center justify-content-end"><i
                            class="text-info fs-1 bi bi-chevron-right"></i></div>
                </section>
            </section>

        </section>
        <br>
        <section class="proyectBox__descripcion d-flex w-100">
            <p class="px-2 text-info">{{info.descripcion}} </p>
        </section>

    </section>
</ng-container>