<ng-container *ngIf="isLogged || resSkillArr.length>0">
    <div class="division mt-3" id="#habilidades"></div>
    <section class="mt-3 w-100 d-flex justify-content-center flex-column">


        <p class="titulo text-info text-center w-100">Habilidades</p>

        <div class="skillContainer d-flex flex-wrap justify-content-evenly  aling-items-between w-100">


            <div class="contTarj">
                <section class="tarjeta" *ngFor="let skill of resSkillArr , index as i">
                    <app-plant-skill [skill]="resSkillArr[i]">
                    </app-plant-skill>
                </section>
            </div>


            <section *ngIf="isLogged" class="newBtnBox d-flex justify-content-center align-items-center">
                <app-create-btn [crear]=1></app-create-btn>
            </section>

        </div>


    </section>
</ng-container>