.skillBox{
    width: 100%;
    height: auto;
}


.titulo{
    width: 100%;
    text-align: center;
    font-size: 30px;   

}

.skillContainer{
    margin: auto;
    width: 100%;
    min-height: 250px;
    
}

@media (max-width: 991px) {
    .skillContainer{
        justify-content: space-evenly;
    }
}

@media (max-width:376) {
    .cosa{
        margin: auto;
    }
}