.icon {
    font-size: 25px;
}

.bg-template {
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 255, .1);

}

.confirmDelBox {
    width: 350px;
    height: 200px;
    background-color: #000;
}

.iconMod {
    font-size: 40px;
    text-align: right;
}

.iconMod:hover {
    cursor: pointer;
    filter: brightness(.5)
}

.select{
    filter:brightness(.5);
}

.icon{
    z-index: 500;
}