<section class="btnCrudBox">
    <button class="btn btn-info mx-1" (click)="changeEdit()"><i class="icon bi bi-pencil-square"></i></button>
    <button class="btn btn-danger mx-1" (click)="changeDel()"><i class="icon bi bi-x-square"></i></button>
</section>


<ng-container *ngIf="modDelEst">
    <div
        class="bg-template position-fixed top-50 start-50 translate-middle d-flex align-items-center justify-content-center">

        <section class="confirmDelBox p-1 bg-secondary">

            <div class="w-100 text-end px-2"><i class="iconMod bi bi-x text-info" (click)="changeDel()"></i></div>
            <div class="w-100 text-center text-info">
                <p>¿Desea elminar el elemento actual?</p>
                <div>
                    <button class="btn btn-info mx-3" (click)="borrar(objSelect.id,objSelect.tipo)">Aceptar</button>

                </div>
            </div>

        </section>

    </div>

</ng-container>

<ng-container *ngIf="modEditEst">
    <section
        class="bg-template position-fixed top-50 start-50 translate-middle d-flex align-items-center justify-content-center">

        <div class="w-50 h-75 bg-secondary m-2 overflow-auto p-1">

            <section class="mb-3">
                <div class="w-100 text-end px-1"><i class="iconMod bi bi-x" (click)="changeEdit()"></i>
                </div>
                <h3 class="text-center text-info"> Editar elemento</h3>
            </section>

            <section class="text-info w-75 mx-auto d-flex flex-column my-3">
                <label class="text-center" for="titulo">Titulo</label>
                <input type="text" name="titulo" id="">
            </section>

            <section class="text-info w-75 mx-auto d-flex flex-column mb-5">
                <label class="text-center" for="imgs">Imagenes</label>

                <div class="d-flex">

                    <ng-container *ngTemplateOutlet="imgs;context:{imgss:objSelect.url}"></ng-container>

                </div>

                <input type="file" name="imgs" id="" multiple (change)="cos($event)">

            </section>

            <section class="text-info w-75 mx-auto d-flex flex-column mb-5">
                <label class="text-center" for="descripcion">Descripcion</label>
                <input type="text" name="descripcion" id="">
            </section>


        </div>

    </section>


</ng-container>

<!-- templates modo edicion -->

<ng-template #imgs let-imgss="imgss">

    <div class="w-25 h-25 mx-2 my-5 position-relative" *ngFor="let img of imgss" (click)="delImg(img)">
        <i class="icon bi bi-x position-absolute top-0 start-100 translate-middle"></i>
        <img [src]="img" [ngClass]="{'img-fluid':true , 'select':false}" alt="">
    </div>


</ng-template>