<app-header></app-header>
<app-principal></app-principal>
<div class="division mt-3 exp"></div>
<div class="stand">
    <app-experiencia id="pag2">a</app-experiencia>
    <div class="division mt-3"></div>

    <app-estudios id="pag3">b</app-estudios>
    <div class="division mt-3"></div>

    <app-skills id="pag4">c</app-skills>
    <div class="division mt-3"></div>

    <app-proyectos id="pag5">d</app-proyectos>
    <div class="division mt-3"></div>

    <app-contacto id="pag6">e</app-contacto>
    <app-footer id="pag7"></app-footer>

</div>