<app-header (newItemEvent)="get($event)"></app-header>
<app-principal id="#inicio"></app-principal>

<div class="division mt-3 exp"></div>
<div class="stand">
    <app-experiencia id="#experiencia"></app-experiencia>

    <div class="division mt-3" id="#estudios"></div>
    <app-estudios></app-estudios>

    <div class="division mt-3" id="#habilidades"></div>
    <app-skills></app-skills>

    <div class="division mt-3" id="#proyectos"></div>
    <app-proyectos></app-proyectos>

    <div class="division mt-3" id="#contacto"></div>
    <app-contacto></app-contacto>
    <app-footer id="pag7"></app-footer>

</div>