body {
    margin: 0;
    padding: 0;
}

:root {
    --colorN1: #1B262C;
    --colorN2: #0F4C75;
    --colorN3: #3282B8;
    --colorN4: #bbe1fa;
}

*{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

/* Estilos globales */

/* linea de division de cada caja */
.division{
    height: .5px;
    width: 90%;
    margin: auto;
    background-color: var(--colorN4);
}